.home {
	&__hero {
		margin-bottom: 4rem;
	}

	&__text-block {
		margin: 15.3rem 0 5rem;

		@media (max-width: $md3+px) {
			margin: 10rem 0 5rem;
		}

		@media (max-width: $md4+px) {
			margin: 5rem 0 0rem;
		}

		& .column {

			@media (max-width: $md2+px) {
				width: 100%;
			}

			&:last-child {
				display: flex;
				justify-content: center;
				align-items: center;

				& .logo {
					width: 71%;
					max-width: 32rem;
				}
			}
		}
	}

	&__img {

	}

	&__text-block-2 {
		margin: 13.3rem 0 20.3rem;

		@media (max-width: $md3+px) {
			margin: 12rem 0 12rem;
		}

		@media (max-width: $md4+px) {
			margin: 5rem 0 5rem;
		}
	}

	&__images {

	}

	&__book-restoration {}

	&__previous-restoration {
		margin:0rem 0 16rem;

		@media (max-width: $md3+px) {
			margin: 0rem 0 12rem;
		}

		@media (max-width: $md4+px) {
			margin: 0rem 0 7rem;
		}
	}

	&__slider-2 {
		margin: 7rem auto;

		padding: 0 0;


		@media (max-width: $md3+px) {
			padding: 0 1.5rem;
		}
	}

	&__text-block-3 {
		margin: 13.3rem 0 20.3rem; 

		@media (max-width: $md3+px) {
			margin: 12rem 0 12rem;
		}

		@media (max-width: $md4+px) {
			margin: 7rem 0 7rem;
		}
	}


	&__founder {
		padding: 14.4rem 1.5rem 15rem;
		background-color: #f1f0f0;
		text-align: center;

		@media (max-width: $md3+px) {
			padding: 8rem 1.5rem 8rem;
		}
	}

	&__founder-suptitle {
		margin-bottom: 2.5rem;

		@media (max-width: $md3+px) {
			margin-bottom: 2rem;
		}
	}
	&__founder-text {
		color: #231f20;
		font-size: 2.2rem;
		font-weight: 500;
		letter-spacing: 0.095em;
		max-width: 113.2rem;
		margin: 0 auto;
		line-height: 3.2rem;

		& > p {
			&:not(:last-child) {
				margin-bottom: 3rem;

				@media (max-width: $md3+px) {
					margin-bottom: 2rem;
				}
			}
		}

		@media (max-width: $md3+px) {
			font-size: 1.8rem;
			line-height: 3rem;
		}

		@media (max-width: $md4+px) {
			font-size: 1.4rem;
			line-height: 2rem;
		}
	}



	&__journal {
		margin: 15.5rem 0 15.5rem;

		@media (max-width: 1440px) {
			margin: 12rem 0 12rem;
		}

		@media (max-width: $md3+px) {
			padding: 0 1.5rem;
			margin: 7rem 0 7rem;

			& .container_large {
				padding: 0;
			}
		}

		&-suptitle {
			margin-bottom: 1rem;
			text-align: center;

			@media (max-width: $md3+px) {
				margin-bottom: 0;
			}
		}
		&-title {
			margin-bottom: 7rem;
			text-align: center;

			@media (max-width: $md3+px) {
				margin-bottom: 4rem;
			}

			@media (max-width: $md4+px) {
				margin-bottom: 3rem;
			}
		}
		&-btn-wrap {
			text-align: center;
		}
	}


}





// == slider ======================================================================

.slider {
	&__img {
		height: 80vh;
		min-height: 48rem;
		background-color: #fff;

		@media (max-width: $md3+px) {
			height: 60vh;
		}
	}

	& .swiper-slide {
		cursor: grab;
/*		& img {
			opacity: 0;
			transition: all .6s ease;
		}
		&.swiper-slide-active {
			& img {
				opacity: 1;
			}
		}*/
	}

/*	& .scrollbar-wrap {
		position: absolute;
		bottom: 2.7rem;
		z-index: 5;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 9rem;
		width: 40%;
		margin: 0 auto 0.5rem;

		@media (max-width: 1024px) {
			width: 65%;
		}

		@media (max-width: $md3+px) {
			height: 6rem;
		}

		@media (max-width: $md3+px) {
			height: 4rem;
		}


		& .swiper-scrollbar {
			position: static;
			border-radius: 0;
			flex: 1 1 auto;
			margin: 0 !important;
			height: 4px;
			background: rgba(#000, 0.25);
		}

		& .swiper-scrollbar-drag {
			height: 4px;
			background: #fff;
		}
	}*/

	& .swiper-pagination  {
		bottom: 2.5rem;
		top: auto;
		width: 60%;
		left: 50%;
		transform: translateX(-50%);

		& > .swiper-pagination-bullet {
			position: relative;
			height: 0.4rem;
			width: 17.5%;
			z-index: 5;
			opacity: 1;
			border-radius: 0;
			//padding: 2.5rem 0;
			background: transparent;
			margin: 0px 6px !important;
			background: rgba(0, 0, 0, 0.3);
			border-radius: 5px;

			&.isShow {
				& > .progress {
					transform: scaleX(1) !important;
				}
			}

			& > .progress {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				//height: 0.4rem;
				//width: 0%;
				background: #fff;
				z-index: 2;
				border-radius: 5px;
				transform: scaleX(0);
				transform-origin: left;
				
			}

			@keyframes dash {
				from {
					transform: scaleX(0);
				}
				to {
					transform: scaleX(1);
				}
			}

			&.swiper-pagination-bullet-active {
				& > .progress {
					 animation: dash 4.1s linear forwards;
				}
			}
		}

		& .swiper-pagination-progressbar {
			background: rgba(255, 255, 255, 0.57);
		}

		& .swiper-pagination-progressbar-fill {
			background: #fff;
		}
	}
}


// == and slider ======================================================================


// == video block ======================================================================
.video-block {
	&__body {
		position: relative;
		height: 80vh;
		min-height: 48rem;
		@media (max-width: $md3+px) {
			height: 60vh;
		}

		&  video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&  iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__play-pause {
		position: absolute;
		height: 15rem;
		width: 15rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 10rem;
		z-index: 2;
		cursor: pointer;

		& .icon-play3:after {
			position: absolute;
			bottom: 0;
			left: 50%;
			content: 'WATCH OUR BRAND FILM';
			color: #ffffff;
			font-family: $mainFontFamily;
			font-size: 15px;
			font-weight: 700;
			letter-spacing: 2.14px;
			text-transform: uppercase;
			transform: translate(-50%, 10%);
			white-space: nowrap;
		}

	}

}

// == and video block ======================================================================


// == slider-2 ======================================================================
.slider-2 {
	//margin-left: 10vw;

	@media (max-width: $md3+px) {
		//margin-left: 5vw;
	}

	& .swiper-container {

	}

	& .swiper-slide {
		width: 75%;
		cursor: grab;
		@media (max-width: 1024px) {
			width: 85%;
		}
	}

	& .scrollbar-wrap {
		position: static;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 9rem;
		width: 75%;
		margin: 0 auto 0.5rem;
		transform: scale(-1, 1);

		@media (max-width: 1024px) {
			width: 85%;
		}

		@media (max-width: $md3+px) {
			height: 6rem;
		}

		@media (max-width: $md3+px) {
			height: 4rem;
		}


		& .swiper-scrollbar {
			position: static;
			border-radius: 0;
			flex: 1 1 auto;
			margin: 0 !important;
			height: 2px;
			background: #5a92ab59;
		}

		& .swiper-scrollbar-drag {
			height: 0.7rem;
			background: $mainColor;
			border-radius: 0;
			top: -0.25rem;
		}
	}

	&__img {
		background-color: #b9b9b9;
		min-height: calc(80vh - 9rem);

		@media (max-width: $md3+px) {
			min-height: calc(60vh - 6rem);
		}

		@media (max-width: $md4+px) {
			min-height: calc(50vh - 4rem);
		}
	}

	&__text {
		padding: 2rem 0;
		max-width: 80rem;
		font-family: $seconFontFamily;

		font-size: 1.5rem;
		line-height: 2.3rem;
		letter-spacing: 0.3rem;
		margin: 0 auto;

		& > h3 {
			color: #231f20;
			font-family: $mainFontFamily;
			font-size: 1.3rem;
			font-weight: 700;
			letter-spacing: 0.142em;
			line-height: 1.8rem;
			display: inline;
		}
	}

}

// == and slider-2 ======================================================================
