.home {
	&__hero {
		margin-bottom: 4rem;
	}

	&__text-block {
		margin: 15.3rem 0 5rem;

		@media (max-width: $md3+px) {
			margin: 10rem 0 5rem;
		}

		@media (max-width: $md4+px) {
			margin: 5rem 0 0rem;
		}

		& .column {

			@media (max-width: $md2+px) {
				width: 100%;
			}

			&:last-child {
				display: flex;
				justify-content: center;
				align-items: center;

				& .logo {
					width: 71%;
					max-width: 32rem;
				}
			}
		}
	}

	&__img {

	}

	&__text-block-2 {
		margin: 13.3rem 0 13.3rem;

		@media (max-width: $md3+px) {
			margin: 12rem 0 12rem;
		}

		@media (max-width: $md4+px) {
			margin: 5rem 0 5rem;
		}
	}

	&__images {

	}

	&__book-restoration {}

	&__previous-restoration {
		margin:0rem 0 16rem;

		@media (max-width: $md3+px) {
			margin: 0rem 0 12rem;
		}

		@media (max-width: $md4+px) {
			margin: 0rem 0 7rem;
		}
	}

	&__slider-2 {
		margin: 7rem auto;

		padding: 0 0;


		@media (max-width: $md3+px) {
			padding: 0 1.5rem;
		}
	}

	&__text-block-3 {
		margin: 13.3rem 0 13.3rem;

		@media (max-width: $md3+px) {
			margin: 12rem 0 12rem;
		}

		@media (max-width: $md4+px) {
			margin: 7rem 0 7rem;
		}
	}


	&__founder {
		padding: 14.4rem 1.5rem 15rem;
		background-color: #f1f0f0;
		text-align: center;

		@media (max-width: $md3+px) {
			padding: 8rem 1.5rem 8rem;
		}
	}

	&__founder-suptitle {
		margin-bottom: 2.5rem;

		@media (max-width: $md3+px) {
			margin-bottom: 2rem;
		}
	}
	&__founder-text {
		color: #231f20;
		font-size: 2.6rem;
		font-weight: 500;
		letter-spacing: 0.249rem;
		max-width: 113.2rem;
		margin: 0 auto;
		line-height: 3.6rem;

		& > p {
			&:not(:last-child) {
				margin-bottom: 3rem;

				@media (max-width: $md3+px) {
					margin-bottom: 2rem;
				}
			}
		}

		@media (max-width: $md3+px) {
			font-size: 1.8rem;
			line-height: 3rem;
		}

		@media (max-width: $md4+px) {
			font-size: 1.4rem;
			line-height: 2rem;
		}
	}



	&__journal {
		margin: 15.5rem 0 15.5rem;

		@media (max-width: 1440px) {
			margin: 12rem 0 12rem;
		}

		@media (max-width: $md3+px) {
			padding: 0 1.5rem;
			margin: 7rem 0 7rem;

			& .container_large {
				padding: 0;
			}
		}

		&-suptitle {
			margin-bottom: 1rem;
			text-align: center;

			@media (max-width: $md3+px) {
				margin-bottom: 0;
			}
		}
		&-title {
			margin-bottom: 7rem;
			text-align: center;

			@media (max-width: $md3+px) {
				margin-bottom: 4rem;
			}

			@media (max-width: $md4+px) {
				margin-bottom: 3rem;
			}
		}
		&-btn-wrap {
			text-align: center;
		}
	}


}





// == slider ======================================================================

.slider {
	&__img {
		height: 80vh;
		min-height: 48rem;
		background-color: #fff;

		@media (max-width: $md3+px) {
			height: 60vh;
		}
	}

	& .swiper-slide {
		cursor: grab;
		& img {
			opacity: 0;
			transition: all .6s ease;
		}
		&.swiper-slide-active {
			& img {
				opacity: 1;
			}
		}
	}

	& .swiper-pagination  {
		top: auto;
		bottom: 1.7em;
		width: 40%;
		left: 50%;
		transform: translateX(-50%);

		& .swiper-pagination-progressbar {
			background: rgba(255, 255, 255, 0.57);
		}

		& .swiper-pagination-progressbar-fill {
			background: #fff;
		}

	}
}


// == and slider ======================================================================



// == video block ======================================================================
.video-block {
	&__body {
		position: relative;

		& .plyr__video-wrapper {
			height: 80vh;
			min-height: 48rem;

			@media (max-width: $md3+px) {
				height: 60vh;
			}
		}

		& .plyr__poster {
			background-size: cover;
		}

		&  video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&  iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

// == and video block ======================================================================


// == slider-2 ======================================================================
.slider-2 {
	//margin-left: 10vw;

	@media (max-width: $md3+px) {
		//margin-left: 5vw;
	}

	& .swiper-container {

	}

	& .swiper-slide {
		width: 75%;
		cursor: grab;
		@media (max-width: 1024px) {
			width: 85%;
		}
	}

	& .scrollbar-wrap {
		position: static;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 9rem;
		width: 75%;
		margin: 0 auto 0.5rem;

		@media (max-width: 1024px) {
			width: 85%;
		}

		@media (max-width: $md3+px) {
			height: 6rem;
		}

		@media (max-width: $md3+px) {
			height: 4rem;
		}


		& .swiper-scrollbar {
			position: static;
			border-radius: 0;
			flex: 1 1 auto;
			margin: 0 !important;
			height: 2px;
			background: #5a92ab59;
		}

		& .swiper-scrollbar-drag {
			height: 0.7rem;
			background: #5a92ab;
			border-radius: 0;
			top: -0.25rem;
		}
	}

	&__img {
		background-color: #b9b9b9;
		min-height: calc(80vh - 9rem);

		@media (max-width: $md3+px) {
			min-height: calc(60vh - 6rem);
		}

		@media (max-width: $md4+px) {
			min-height: calc(50vh - 4rem);
		}
	}

	&__text {
		padding: 2rem 0;
		max-width: 80rem;
		font-family: $seconFontFamily;

		font-size: 1.5rem;
		line-height: 2.3rem;
		letter-spacing: 0.3rem;
		margin: 0 auto;
	}

}

// == and slider-2 ======================================================================
