.ownership { 
	&__hero {
		margin-bottom: 5rem;

		padding: 0 3rem;

		@media (max-width: $md3+px) {
			padding: 0 1.5rem;
		}
	}

	&__advantages {
		margin: 17.2rem 0 8rem;
		background-color: #f9f9f9;
		background-image: linear-gradient(180deg, #f9f9f9 0%, #ffffff 100%);
		padding-top: 17.6rem;

		@media (max-width: 1023px) {
			margin: 14rem 0 8rem;
		}

		@media (max-width: $md3+px) {
			margin: 12rem 0 8rem;
		}

		@media (max-width: $md4+px) {
			margin: 4rem 0 7rem;
			padding-top: 6rem;
		}
	}

	&__servicing {
		margin: 8.5rem 0 8rem;
		background-color: #f9f9f9;
		background-image: linear-gradient(180deg, #f9f9f9 0%, #ffffff 100%);
		padding-top: 17.6rem;

		@media (max-width: 1023px) {
			margin: 14rem 0 8rem;
		}

		@media (max-width: $md3+px) {
			margin: 12rem 0 8rem;
		}

		@media (max-width: $md4+px) {
			margin: 4rem 0 7rem;
			padding-top: 6rem;
		}


		&_bottom {
			&.sevicing-ownership {
				padding: 0;
				margin: 6rem 0 14rem;

				@media (max-width: $md3+px) {
					margin: 0rem 0 4rem;
				}
			}
		}
	}

	&__list {
		margin: 14rem 0 6rem;
		@media (max-width: $md3+px) {
			margin: 8rem 0 0rem;
			& .container_large-1400 {
				padding: 0;
			}
		}

		& .card__suptitle {
			margin-bottom: 1.5rem;
		}

		& .block-columns-2 .column {
		    margin-bottom: 14.5rem;

		    @media (max-width: $md3+px) {
		    	 margin-bottom: 7rem;
		    }
		}
	}
}



.hero-ownership {
	&__top-line {
		width: 100%;
		height: 2px;
		background: $mainColor;
	}
	&__body {
		width: 100%;
		max-width: 138.8rem;
		margin: 6.4rem auto 0; 
		display: flex;

		@media (max-width: $md2+px) {
			flex-direction: column-reverse;
			margin: 2.4rem auto 0; 
		}
	}

	&__column {
		&_1 {
			flex: 0 0 885 / 1735 * 100%;
			padding-right: 3rem;

			@media (max-width: $md2+px) {
				flex: 0 0 100%;
			}
		}
		&_2 {
			flex: 0 0 850 / 1735 * 100%;

			@media (max-width: $md2+px) {
				flex: 0 0 100%;
			}
		}
	}
	&__text-wrap {
		max-width: 63rem;

		& .text-block__body {
			margin-top: 7rem;

			@media (max-width: $md3+px) {
				margin-top: 4rem;
			}
		}
	}
	&__img {
		& img {
			width: 100%;
		}
	}
}

.advantages-ownership {
	&__head {
		margin-bottom: 9.8rem;

		@media (max-width: $md3+px) {
			margin-bottom: 2.5rem;
		}

		& .text-block__suptitle {
			margin-bottom: 3.5rem;

			@media (max-width: $md3+px) {
				margin-bottom: 1.5rem;
			}
		}

		& .text-block__title {
			line-height: 5rem;

			@media (max-width: $md3+px) {
				font-size: 2.5rem;
				letter-spacing: 0.3rem;
				line-height: 4rem;
			}

			@media (max-width: $md4+px) {
				font-size: 2rem;
				letter-spacing: 0.2rem;
				line-height: 3rem;
			}
		}
	}
	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -3rem;

		@media (max-width: $md3+px) {
			margin: 0 -1.5rem;
			display: block;
		}


	}

	&__column {
		flex: 0 0 50%;
		padding: 0 3rem;
		margin-bottom: 3rem;

		@media (max-width: $md3+px) {
			padding: 0 1.5rem;
		}

		& .text-block__body {
			padding-left: 6.5rem;

			@media (max-width: $md2+px) {
				padding-left: 0rem;
			}
		}

		& .text-block__title.title-3 {
			letter-spacing: .3rem;
			margin-bottom: 3.5rem;
		}
	}
}




.sevicing-ownership {
	&__body {
		max-width: 134.8rem;
		padding: 0 3rem;
		margin: 0 auto;

		@media (max-width: $md3+px) {
			padding: 0 1.5rem;
		}
	}

	&__head {
		margin-bottom: 3.5rem;

		@media (max-width: $md3+px) {
			margin-bottom: 1.5rem;

		}

		& .text-block__title {
			max-width: 105rem;
			letter-spacing: 0.3rem;
		}
	}
	&__img {
		& img {
			width: 100%;
		}
	}
	&__bottom {
		margin-top: 9.2rem;

		@media (max-width: $md3+px) {
			margin-top: 6.2rem;

		}

		& .text-block__body {
			padding-left: 3rem;
		}

		& .text-block__line {
			margin-bottom: 5rem;

			@media (max-width: $md3+px) {
				margin-bottom: 4rem;

			}
		}

		& .text-block_left .text-block__body .text-block__title {
		    max-width: 90rem;
		    letter-spacing: .3rem;
		    margin-bottom: 7rem;

		    @media (max-width: $md3+px) {
		    	margin-bottom: 4rem;
		    }

		    @media (max-width: $md2+px) {
		    	margin-bottom: 2rem;
		    }
		}

		& .text-block__text {
			margin-bottom: 7.5rem;

			@media (max-width: $md3+px) {
				margin-bottom: 5.8rem;
			}

			@media (max-width: $md2+px) {
				margin-bottom: 3.8rem;
			}
		}
	}
}

.text-block {
	&_center {}
	&_left {}
	&__body {}
	&__line {}
	&__suptitle {}
	&__title {}
	&__text {}
	&__btn-wrap {}
}



